<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.Vnf.vnf_to_qpn"
			class = "vnf_to_qpn.vnf.VnfPackage"
			genModel = "model/generated/Vnf.genmodel" />
	</extension>
 <extension
       point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
 </extension>
</plugin>
